/* ======== FONDO GENERAL ======== */
html, body {
    background-color: #ccffcc !important; /* Verde muy clarito */
    margin: 0;
    font-family: Arial, sans-serif;
    color: #000000; /* Texto negro */
}

/* ======== ENCABEZADO ======== */
header {
    text-align: center;
    padding: 20px;
    background: #008000; /* Verde fuerte */
    color: #FFFFFF;      /* Blanco */
}

/* ======== NAVBAR (Botones arriba) ======== */
.navbar {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #008000; /* Verde fuerte */
    padding: 15px;
    border-radius: 0 0 10px 10px;
}

.navbar a {
    background: #66CC66; /* Verde claro */
    color: #000000;      /* Texto negro */
    padding: 10px 15px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.navbar a:hover {
    background-color: #FFFFFF; /* Blanco */
    color: #008000;            /* Verde fuerte */
}

/* ======== TARJETAS ======== */
.card {
    background: #FFFFFF; /* Blanco */
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto;
    width: 90%;
    max-width: 900px;
    border-left: 6px solid #73e673; /* Verde fuerte */
}

/* ======== IMAGEN CENTRADA Y CHICA ======== */
.img-limon {
    width:50%;    /* Tamaño más chico */
    display: block;       /* Necesario para centrar */
    margin: 0 auto;       /* Centrar imagen */
    border-radius: 10px;
    margin-bottom: 20px;
}

/* ======== PIE DE PÁGINA ======== */
footer {
    text-align: center;
    padding: 12px;
    background: #66CC66; /* Verde claro */
    color: #000000;      /* Negro */
    font-weight: bold;
    margin-top: 20px;
}